### Create connection

In [1]:
import cx_Oracle
import pandas as pd
conn = cx_Oracle.connect("admin", "Onlin3#onlin3#", "adbnews_high")

### Run Query

In [2]:
query = """
    SELECT *
    FROM tb_news_valor_economico
"""
#curr = conn.cursor()
#curr.execute(query)

news_data = pd.read_sql(query, con=conn)
#conn.close()

C:\Users\danie\AppData\Local\Temp\ipykernel_11952\423069876.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  news_data = pd.read_sql(query, con=conn)

___
### RASCUNHO

In [3]:
import hashlib

news_data["publication_id"] = news_data["URL"].apply(lambda x: hashlib.md5(x.encode()).hexdigest())

In [4]:
news_data.to_sql('tb_news_TEMP', conn, if_exists='replace')

C:\Users\danie\AppData\Local\Temp\ipykernel_2092\3928743325.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  news_data.to_sql('tb_news_TEMP', conn, if_exists='replace')

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': ORA-01036: illegal variable name/number

In [ ]:
insert_data = [tuple(x) for x in news_data.values]

In [ ]:
curr = conn.cursor()
query = """
            INSERT INTO tb_news_TEMP
            VALUES (:publication_id, :source, :section, :publication, :collected_at, :title, :body, :url)
        """

curr.executemany(query, insert_data)
conn.commit()

DatabaseError: ORA-12899: value too large for column "ADMIN"."TB_NEWS_TEMP"."COLLECTED_AT" (actual: 93, maximum: 50)